.main {
  width: 100dvw;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5em;
}

table {
  width: 90%;

  color: var(--darkest);
  font-size: 1em;
  background: var(--base); 
  border: 1px solid var(--darkest);
  padding: .2em .1em;
}

table:hover {
  cursor: default;
}

td, th {
  text-align: start;
}

th {
  background-color: var(--darkest);
  color: var(--base);
}

.leaderboard tr {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.leaderboard b {
  font-weight: 700;
}

.lead-username {
  width: 23%;
}

.lead-total {
  width: 8%;
}

.lead-score {
  width: 4.6%;
}
