body {
  width: 100dvw;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.main {
  width: 75dvw;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.main b {
  align-self: flex-start;
  color: var(--red);
  font-weight: bold;
  text-shadow: var(--black) 0 1px 1px;
  font-size: 1.1em;
}

.stables {
  list-style: none;
  margin-bottom: 2em;

  width: 100%;
}

.stables li {
  width: 100%;
  background: var(--black);
  color: var(--white);

  padding: .25em 1em;
  border: 1px solid var(--red);
}

.stables li:hover {
  cursor: pointer;
}

.sub-name {
  font-size: 1.35em;
  color: var(--red);
  font-weight: bold;
}

.sub-rikishi {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;

  font-size: 1.1em;
}

.sub-rikishi p:not(:first-child)::before {
  content: " - ";
}

.sub-scores {
  display: block;
  width: fit-content;
  max-width: 100%;
  table-layout: fixed;
  overflow: scroll;

  font-size: 1.4em;
}

.sub-scores th:first-child, tr:first-child {
  width: 16em;
}

.sub-scores th:not(:first-child), td:not(:first-child) {
  width: 3em;
}

.sub-scores:first-child {
  margin-bottom: .5em;
}

.sub-scores th {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

@media screen and (width <= 960px) {
  .main {
    width: 94dvw;
  }
}
