body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100dvw;
  height: 100dvh;
}

#container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.menu {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  width: 40%;
}

a button {
  color: var(--white);
  height: 100%;
  width: 100%;

  background-color: var(--black);
  border-left: 4px solid var(--red);
  text-align: center;
  font-size: 1.8em;
  padding: .75em inherit;
  transition: border-left .5s linear, color .5s linear;

  text-decoration: none;
}

a button:hover {
  color: var(--red);
  background-color: var(--black);
  border-left: 12px solid var(--red);
}

.details {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 4em 0;
}

.details img {
  width: 38em;
  height: 34em;

  padding: 1em 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;

  height: fit-content;
}

header img {
  align-self: center;

  width: 20em;
  height: 20em;
  transform: translateY(-25%);
}

nav {
  width: 100%;

  margin: .5em 0 0 .15em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

nav * {
  width: fit-content;
}

nav a {
  color: var(--red);
  text-decoration: none;
}

nav i {
  font-style: italic;
}

nav a::before {
  content: "To ";
  color: var(--white);
}

@media screen and (width <= 960px) {
  body {
    overflow: visible;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    width: 90%;
  }
}
