body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100dvw;
  height: 100dvh;

  overflow: hidden;
}

#container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.menu {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  width: 40%;
}

a button {
  color: var(--white);
  height: 100%;
  width: 100%;

  background-color: var(--black);
  border-left: 4px solid var(--red);
  text-align: center;
  font-size: 1.8em;
  padding: .75em inherit;
  transition: border-left .5s linear, color .5s linear;

  text-decoration: none;
}

a button:hover {
  color: var(--red);
  background-color: var(--black);
  border-left: 12px solid var(--red);
}

a button::after {
  content: " >>";
  font-style: italic;
}

.details {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 4em 0;
}

.details img {
  width: 38em;
  height: 34em;

  padding: 1em 0;
}

header {
  display: flex;
  flex-direction: column;

  height: fit-content;
}

header img {
  align-self: center;

  width: 20em;
  height: 20em;
  transform: translateY(-25%);
}
