/* Shared between all /sumo subpages. */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-style: normal;

  --dark: #2d1105;
  --darkest: #110501;
  --base: #fcc385;
  --base-bright: #fce1c4;
  --hl: #fc916a;
  --contrast: #fc6a89;

  --red: #be191b;
  --grey: #181818;
  --white: #f1efe7;
  --black: #000000;
}

body {
  background: var(--grey);

  color: var(--white);
  font-size: 1.15rem;
}

header {
  height: 100%;
  width: 100dvw;

  display: flex;
  flex-direction: column;

  margin-bottom: 1em;
}

header nav {
  width: fit-content;

  display: flex;
  flex-direction: row;

  padding: .2em .5em;
}

header nav p {
  font-size: 1.1em;
  color: #777;
}

.title {
  display: flex;
  flex-direction: column;

  width: 100%;

  justify-content: center;
  align-items: center;

  margin: 2em 0 0 0;
}

header img {
  width: 25em;
  height: 25em;
  transform: translateY(-25%);
  margin-bottom: -10em;
}

a {
  color: var(--contrast);
  text-decoration: none;

  height: 4.5em;
  width: 10em;
}

a button {
  width: 0;
  height: 0;
  padding: 1.25em 6em;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--black);
  font-size: 2em;
  font-weight: 700;
  border: 1px solid var(--grey);
  color: var(--red);
}

a button:hover {
  background: var(--red);
  color: var(--black);
}

@media screen and (width <= 960px) {
  header a:not(.home) {
    margin: .5em 0 4em 0;
    width: 100dvw;
  }
  header a:not(.home) button {
    width: 100%;
    padding: 1.75em 0;
    font-size: 1.5em;
    text-align: center;
  }
}
