* {
  --hl: #f95e8a;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 3rem;
}

header b {
  font-size: 2rem;
}

#status {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: .75rem;
  margin: 12px 0 2px 0;
  padding: 4px 0;
}

#status b {
  background-color: var(--hl);
  color: #000;
  padding: 0 5px;
}

.container {
  width: max(80dvw, 400px);

  display: none;
  flex-direction: column;
}

.switches {
  width: 100%;
  height: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}

.switches button {
  width: 50%;
  border: none;
  border-radius: 0;
}

.switches button:enabled:not(.selected-switch) {
  background-color: #000;
  color: #fff;
}

.switches button:disabled {
  background-color: #222;
  color: #eee;
}

.switches button:enabled:not(.selected-switch):hover {
  background-color: #222;
}

.selected-switch:enabled {
  background-color: var(--hl);
  color: #000;
}

table {
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #fff;
}

th {
  padding: 8px 0;
}

td {
  border-bottom: 2px solid white;
  text-align: center;
  padding: 6px 0;
}

.container table th {
  font-weight: bold;
}

.sort-button {
  background: #111;
}

.sort-button:hover {
  cursor: pointer;
  background: #333;
}

.container table th:nth-child(1) {
  width: 30%;
}

#planning {
  display: none;
}

#requested {
  display: none;
}

#planning th:nth-child(1) {
  width: 50%;
}

#planning th:nth-child(2) {
  width: 40%;
}

#requested th:last-child {
  width: 15%;
}

#loading {
  align-self: center;
  margin: 2rem 0 14px 0;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

.loading-spin {
  animation: 2s spin linear infinite;
}

#loading-text {
  animation: 3s flicker linear infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

footer {
  align-self: flex-end;
  margin: 3rem 0 16px 0;
}
