@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

* {
  font-family: "New Rocker", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
}

a {
  color: #f95e8a;
  text-decoration: none;
  padding: 0 2px;
}

a:hover {
  color: #000;
  background-color: #f93e73;
}

a:visited:not(:hover) {
  color: #930029;
}
