@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

* {
  font-family: "New Rocker", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;

  margin: 0;
  padding: 0;
  --hl: #f95e8a;
}

body {
  background: #000;
  color: #fff;
}

a {
  color: var(--hl);
  text-decoration: none;
  padding: 0 2px;
  border-bottom: 4px solid transparent;
}

a:hover {
  border-color: #f93e73;
  transition: border-color 250ms;
}

a:visited:not(:hover) {
  color: #930029;
}
